.landing-page {
    font-family: inter, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;  
  }
  
  .top-section {
    padding: 20px 20px 40px 100px;
    text-align: left;
  }

  .header{
    font-size: 2rem;
    font-style: bold;
  }

  .tagline {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  
  .description {
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.6;
    
  }
  
  .auth-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
  }
  
  .auth-buttons .btn-primary {
    background-color: #bee0ff;
    color: #003366;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .auth-buttons .btn-link {
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .bottom-section {
    padding: 20px 20px 0px 100px;
    text-align: left;
    min-height: 40vh;
  }
  
  .guest-label {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .location-select {
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    margin-bottom: 30px;
    margin-right: 20px;
    
  }
  
  .btn.secondary {
    background-color: #1b6ec2;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-guest{
    background-color: #236ea5;
    color: #ffffff;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
  }