.weather-and-movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  width: 80vw;
  height: 80vh;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15.6px);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: var(--text-color-dark);
}

:root {
    --text-color-light: black;
    --text-color-dark: white;
  }
  
.weather-and-movie-container.light-text {
    color: var(--text-color-light);
  }
  
.weather-and-movie-container.dark-text {
    color: var(--text-color-dark);
  }
  
.weather-info-card, .movie-info-card, .actions-column {
    max-width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

.weather-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }

  .weather-header-content {
    display: flex;
    align-items: center;
    gap: 12px; /* space between icon and text */
  }

  .weather-info-card h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .text-group {
    margin-bottom: 7%; /* space between each group */
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 0px; /* space between each text in the group */
  }

  .text-group p, .text-group h2{
    margin: 0;
  }

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid #000000; /*top and bottom so that it's visible in both*/
    border-bottom: 1px solid white;
    margin: 10px 0;
  }

  .location-button{
    width: 55%;
    margin-top: 10px;
    padding: 5px 5px;
    background-color: #ffffff;
    font-size: 1rem;
    border: none; 
    border-radius: 8px;
    cursor: pointer;
}

.location-button:hover {
    background-color: #ebf6ff;    
  }


  .movie-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba
  }
  
.refresh-button {
  margin: 15px auto;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
    background-color: #0056b3;
  }
  

.actions-column button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  margin: 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.actions-column button:hover {
    background-color: #acb8e0;
  }

.actions-column .selected {
    color: white;
    background-color: #236ea5;
}

  .filter-button,
  .clear-button {
    padding: 8px 15px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(94, 94, 183);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

 