.movie-details-page {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 20px 0;
    /* color: var(--text-color-dark); */
  }
  
  .movie-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15.6px);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    padding: 20px; /* Add spacing inside the container */
    max-width: 1200px; 
    width: 90%; /* Responsive width */
    padding: 20px;
  }


:root {
    --text-color-light: black;
    --text-color-dark: white;
  }

.movie-details-page.light-text {
    color: var(--text-color-light);
  }
  
.movie-details-page.dark-text {
    color: var(--text-color-dark);
  }

  .back-button {
    align-self: flex-start; /* Align the button to the top-left */
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .movie-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split content into two equal columns */
    gap: 20px; /* space between the two columns */
  }
  
  .movie-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba
  }

  .movie-info-section {
    padding: 20px; /* Adds spacing inside the text area */
  }
  
  .movie-title {
    font-size: 2rem; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  .movie-year {
    font-size: 1.2rem;
    margin-bottom: 20px; /* Space below the year */
  }
  
  .rating-section {
    display: flex;
    gap: 40px; /* Adds space between Popularity and Rating */
    margin-bottom: 20px; /* Space below the ratings */
  }
  
  .rating-box {
    text-align: center;
  }

  
  .rating-value {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .movie-genres {
    margin-bottom: 20px; /* Space below genres */
    font-size: 1rem; /* Regular size for genres */
  }
  
  .movie-overview {
    line-height: 1.6;
  }
  