

.movie-container{
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.refresh-button{
max-width: 100%;
margin-top: 20px;
padding: 10px 20px;
background-color: #004187;
color: white;
font-size: 1rem;
border: none;
border-radius: 8px;
cursor: pointer;
}

.refresh-button:hover {
    background-color: #396fa4;
  }

 
  /* .darktext{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    font-size:xx-large !important;
} */

.movieTitle.darkText {
  color: white !important;
  border-color: white !important;
}

.decade-filter.darkText{
  color: white !important;
  border-color: white !important;
}

.imagelink{
  display: grid;
  position: relative;
  width: 300px; /* or your desired width */
  height: auto;
}

.imagelink img,
.imagelink button {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.imagelink img{
  width: 100%;
  height: auto;
  display: block;
}

.learnmore{
  position: relative;
  top: -40px;
  left:10px;
  place-self: center; /* or use start/end to control position */
  background-color: white;
  color: rgba(0, 65, 135);
  font-weight: 700;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
}