body, html {
    height: 100%; /* Ensures full page height */
    margin: 0; /* Remove default margin */
    padding:0;
  }
  

.navbar {
    width: 100vw; /* full viewport width */
    box-sizing: border-box;
    background: #BBDDFF;
    border-bottom: 2px solid #004187;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar-container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between; /*pushes left & right apart */
    height: 50px;
    width: 100%;
    padding: 20px 20px;
  }

  .navbar-logo {
    max-width: 240px;
    display: flex;
    align-content: left;
  }

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .profile-icon{
    width: 30px;
    padding-right: 1em;
  }

.logout-button{
  background-color: #004187;
    color: white;
    font-weight: 700;
    border-radius: 25px;
    width: 70px;
    height:31px;
}